.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-content {
  flex: 1;
}

.App-intro {
  font-size: large;
}

.App-footer {
  padding-bottom: 1.65em;
  margin-bottom: -1.65em;
  background-color: #191f21;
  color: #40484a;
}

.App-footer a {
  margin: 0 0.5em;
}

.App-footer a:hover {
  color: #fff;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  cursor: pointer;
}

.city-input {
  display: flex;
  margin: 0 auto;
  width: 30%;
  box-sizing: border-box;
}

.city-input input {
  font-size: 18px;
  flex-grow: 1;
}

.city-input button {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}

.city {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex: 0;
  flex-direction: column;
  min-width: 30%;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  .city,
  .city-input {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0 10px;
  }
  .city,
  .city-input {
    width: 100%;
  }
}

.city-block {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.city-block img {
  width: 50px;
  height: 50px;
}

.city-block__description {
  padding: 0 40px;
  text-align: left;
}

.city-block__delete {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  text-decoration: none;
  align-self: flex-start;
  margin: 0 10px 0 0;
  padding: 0;
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column > li {
  min-width: 30%;
}

ul {
  padding: 0;
  margin: 0 auto;
	list-style: none;
}

.city_forecast {
  width: 100%;
  display: flex;
}

.city-block__forecast {
  border: none;
  text-decoration: underline;
  color: blue;
  font-size: 1em;
  cursor: pointer;
}

.city_indication {
  width: 33.3%;
}

